@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./assets/fonts/Roboto-Regular.ttf');
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./assets/fonts/Roboto-Bold.ttf');
  }
}

.card {
  background: linear-gradient(
        to top right,
        #0000 50%,
        rgba(60, 56, 54, 0.8) 50.1%
      )
      top right/60px 60px no-repeat,
    #333232;
}
